body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
}

.header,
.hero {
  background-color:#1F2937;
  padding: 0 100px;
}

.header-text, 
.hero-text,
.sign-up,
.footer-subcall,
.footer-call
{
  color: #F9FAF8;
}

.header-text{
  font-size: 24px;
  font-weight: 800;
  margin-right: auto;
}

.header-info {
  list-style: none;
  display: flex;
  gap: 48px;
}

.header-link,
.hero-subtext {
  color: #E5E7EB;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.content {
  flex: 1;
}

.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  gap: 25px;
}

.hero-text {
  font-size: 48px;
  font-weight: 800;
}

.left-hero {
  margin-right: auto;
}

button,
.footer-container {
  background-color: #3882F6;
  border-radius: 8px;
}

.hero-button{
  border: 0;
  padding: 4px 24px;
  margin-top: 8px;
}

.sign-up {
  font-size: 18px;
}

.hero-image {
  width: auto;
  height: 200px;
}

.main-info{
  padding: 50px 150px;
}

.information-header {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}

.information-container {
  display: flex;
  gap: 8px;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-image {
  align-self: center;
  width: 150px;
  height: auto;
  border: 5px solid #3882F6;
  border-radius: 4px;
}

.information-text{
  color: gray;
  font-size: 12px;
  text-align: center;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 150px;
  gap: 4px;
}

.quote-body {
  font-weight: 300;
  font-size: 36px;
  color: #1F2937;
  align-self: center;
}

.quote-author {
  font-weight: bold;
  text-align: right;
}

.footer {
  padding: 50px 100px;
}

.footer-container {
  padding: 25px 50px;
  display: flex;
}

.footer-call{
  font-size: 18px;
  font-weight: 800;
}

.footer-subcall{
  font-size: 12px;
  font-weight: 300;
}

.left-footer{
  margin-right: auto;	
}

.right-footer{
  padding: 4px 24px;
  border: 2px solid white;
}